@import "tailwindcss/preflight";
@tailwind utilities;

/* ===========================
   DM Sans Variable Font
   =========================== */
@font-face {
  font-family: "DM Sans";
  src: url("../src/assets/fonts/DMSans-VariableFont_opsz,wght.woff2")
    format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  font-variation-settings: "wght" 400, "opsz" 36;
  font-optical-sizing: auto;
}

@font-face {
  font-family: "DM Sans";
  src: url("../src/assets/fonts/DMSans-Italic-VariableFont_opsz,wght.woff2")
    format("woff2-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
  font-variation-settings: "wght" 400, "opsz" 36;
  font-optical-sizing: auto;
}

/* ===========================
   Playfair Display Variable Font
   =========================== */
@font-face {
  font-family: "Playfair Display";
  src: url("../src/assets/fonts/PlayfairDisplay-VariableFont_wght.woff2")
    format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  /* Set default Medium (500) biar sama persis kayak di Figma */
  font-variation-settings: "wght" 500, "opsz" 36;
  font-optical-sizing: auto;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../src/assets/fonts/PlayfairDisplay-Italic-VariableFont_wght.woff2")
    format("woff2-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
  font-variation-settings: "wght" 500, "opsz" 36;
  font-optical-sizing: auto;
}

@import "tailwindcss";

@theme {
  --font-DMsans: "DM Sans", sans-serif;
  --font-Playfair: "Playfair Display", serif;
}

a {
  text-decoration: none;
}

/* ===========================
   Swiper Pagination Custom Style
   =========================== */
.swiper-pagination {
  position: relative !important; /* biar gak nempel ke slide */
  margin-top: 70px !important;   /* jarak dari card ke dot */
  display: flex !important;
  justify-content: center !important;
}

.swiper-pagination-bullet {
  background-color: #ed5700 !important; /* warna dot normal */
  opacity: 0.3;
  transition: all 0.3s ease;
  width: 8px;
  height: 8px;
  margin: 0 6px !important;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #ed5700 !important; /* warna dot aktif */
  transform: scale(1.3);
}

